<div class="card" style="width: 18rem;">
        <img src="<%= `/images/${executive.image}`%>" style="width: 18rem; height: 18rem;" class="card-img-top">
        <div class="card-body executive-card">
          <h5 class="card-title">
            <%= executive.name %>
          </h5>
          <p class="card-text ">
            <%= executive.ocupattion %>
          </p>
          <a href="<%= executive.linkedIn %>" class="btn btn-outline-info btn-lg btn-block" target="_blank">LinkedIn!</a>
        </div>
      </div>